QWidget {
    background-color: #262525 ;
    color: "white";
}
QPushButton {
    font-size: 16px;
    background-color: #353535;
    border-style: outset;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 9px; 
    padding: 2px;
}
QPushButton:hover
{
    background-color: #818181;
}
QLineEdit {
    background-color: "white";
    color: "black";
}
QLabel{
    font-size: 16px;
}
QHeaderView::section
{
  background-color:#818181
}